<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>날짜</th>
            </tr>
        </thead>
        <tbody>
<!--        loop쓰면 뭐가 다른건지-->
<!--            <tr th:each="question, loop : ${questionList}">-->
            <tr th:each="question : ${questionList}">
<!--                <td th:text="${loop.count}"></td>-->
                <td th:text="${question.id}"></td>
                <!--이렇게도 출력 가능-->
                <!--<td>[[${question.subject}]]</td>-->
                <td>
                    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                </td>
                <td th:text="${question.content}"></td>
                <td th:text="${#temporals.format(question.createDate, 'yy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>
</html>